@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.calculator {
    background-color: #dcdcdc;
    border-radius: 13px;
    max-width: 1400px;
    margin: 90px auto;
    width: 368px;
    height: 600px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.8);
}
.calc__display{
    border-radius: 13px 13px 0px 0px;
    background-color: gray;
    height: 140px;
    padding: 20px;
    text-align: right;
    font: inherit;
    font-size: 70px;
    color: white;
    overflow: hidden;
}

.calc__buttons {
height: 500px;
display: table;
}
.btn{
    font: inherit;
    font-size: 25px;
    margin: 1px;
    border: 0;
    border-radius: 15%;
    width: 90px;
    height: 90px;
} 
.btn:hover {
    background: #e8e8e8;
}

.btn_big {
    width: 182px;
    border-radius: 13px;
}
.btn_color:hover {
    background: #ffc88d;
}
.btn_color {
    background: #ef9838;
}